<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Recommend Me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="RecommendationSystem">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <h1>Loading Restaurant Recommendation System</h1>
    <div class="">
      <div ui-view></div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <!-- <script src="bower_components/angular-route/angular-route.js"></script> -->
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>


    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- <script src="bower_components/ui-router/release/angular-ui-router.js"></script> -->
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="public/app.js"></script>
    <script src="public/controllers/login.controller.js"></script>
    <script src="public/controllers/overview.controller.js"></script>



    <!-- endbuild -->
  </body>
</html>
