<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="">
	<div>
			<div class="custom">
				<div class="master-video-wrapper" style="height:100%">
					<video autoplay="autoplay" class="master-video" loop="loop" width="320px" height="240px">
						<source src="public/stylesheets/videos/bg.mp4" type="video/mp4">
				 </video>
				 <div class="master-body col-md-10 col-sm-11 col-xs-12" style="opacity: 0.99; filter: blur(0.111111px); transform: translateY(1.42857%);">
					<!-- <div class="master-logo"><img src="https://www.highcharts.com/joomla/media/templates/highsoft_2015/images/logo.svg" border="0"></div> -->
					<div class="master-title">Restaurant Recommendation System</div>
					<div class="master-sub-title">RecommendMe makes it easy for users to get</div>
				 </div>

			 </div>
		 </div>
		 <button ng-click="login()" type="submit" class="btn btn-outline btn-lg btn-rounded">Login</button>
		 <button ng-click="signup()" type="submit" class="btn btn-outline btn-lg btn-rounded">Signup</button>
	</div>
	<!-- <div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="public/stylesheets/images/plate.png" class="user-avatar" />
			<h1>Recommend Me</h1>
			<form role="form" ng-submit="submit()">

				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>
				</div>

				<button ng-click="login()" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
				<button ng-click="signup()" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Signup</button>
			</form>
		</div>
	</div> -->

</div>
