<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="public/stylesheets/images/plate.png" class="user-avatar" />
			<h1>Recommend Me</h1>
			<form role="form" ng-submit="submit()">

				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>
				</div>

				<button ng-click="login()" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
				<button ng-click="signup()" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Signup</button>
			</form>
		</div>
	</div>

</div>
