<div class="container">
  <div id="signup">

   <div class="signup-screen">
      <div class="space-bot text-center">
         <h1 style="  font-family: fantasy;">Sign up</h1>
        <div class="divider"></div>
      </div>
      <md-input-container class="md-block">
       <label>First Name</label>
       <input ng-model="user.firstname">
     </md-input-container>
     <md-input-container class="md-block">
      <label>Last Name</label>
      <input ng-model="user.lastname">
    </md-input-container>
    <md-input-container class="md-block">
     <label>Email</label>
     <input ng-model="user.email">
   </md-input-container>
           <div class="space-top text-center">
            <md-button class="md-raised md-primary">Done</md-button>
            <md-button class="md-raised md-warn">Cancel</md-button>
           </div>
   </div>
     </div>
</div>
